<h1>Editar Grupo de Eventos</h1>

<%= render 'form', grupo_evento: @grupo_evento %>

<%= link_to 'Mostrar', @grupo_evento, class: "btn btn-secondary" %> |
<%= link_to 'Voltar', grupo_eventos_path, class: "btn btn-secondary" %>
